body{
    font-family: 'Noto Serif JP', serif;
    margin: 0px;
}
header{
    padding: 2vw 2vw;
    transition: 0.5s;
}
h2{
    font-size: 3vw;
}
header .logo{
    background-color: #ff1547;
    padding: 1vw;
	color:#000000;
	font-weight: 900;
	font-size: 36px;
	text-decoration: none;
    color: beige;
}
.navigation{
    margin-top: 55%;
    transition: 1s;
}
.navigation li{
    margin-left: 0px;
    list-style-type: none;
    margin-top: 20px;
}
.navigation li a{
    font-weight: 200;
    font-size: 1.2em;
    color: gray;
    text-decoration: none;
}
.navigation li dd a{
    font-weight: 400;
    font-size: 1.2em;
    color: black;
    text-decoration: none;
}
.navigation li a:hover{
    color: black;
    font-weight: 800;
}
.navbar{
    position: fixed;
    top: 160px;
}
label, input, textarea, button{
    text-align: center;
    margin: 0 auto;
    width: 80%;
    display: block;
    padding: 10px;
}
input { 
    font-size: 18px;
    text-align: left;
    border: 1px solid #ccc;
    transition: 0.1s;
}
input:focus{
    outline: black;
    border: 2px solid black;
}
textarea{
    font-size: 18px;
    text-align: left;
    height: 100px;
    resize: none;
    border: 1px solid #ccc;
    transition: .1s;
}
textarea:focus{
    border: 2px solid black;
    outline: black;
    
}
.but{
    text-align: center;
    background-color: #ff1547;
    color: white;
    font-size: 24px;
    width: 120px;
    height: 50px;
    margin-top: 50px;
    transition: .5s;

}
.but:hover{
    background-color: greenyellow;
    color: black;
    cursor: pointer;
    width: 150px;
    height: 60px;

}
.card{
    position: absolute;
    top: calc(50% - 300px);
    left: calc(50% - 250px);
    border: 5px solid red;
    width: 500px;
    height: 700px;
    transition: .5s;
}
.card:hover {
    position: absolute;
    top: calc(50% - 305px);
    left: calc(50% - 255px);
    box-shadow: 10px 10px 15px;
}
.card:hover .bacimg{
    position: relative;
    background-size: 300%;
    background-position: 38% 57%;
}
.bacimg{
    background-image: url(/img/hirosaki_castle_japan.jpg);
    width: 500px;
    height: 250px;
    background-size: 250%;
    background-position: 37% 55%;
    transition: .5s;
}